table {
    border-collapse: collapse;
    margin-right: 20px;
}
td, th, tr {
    border: 1px solid black;
    padding: 10px;
}

th {
    cursor: pointer;
    transition: 0.5s; 
}

th:hover {
  background-color: rgb(223, 223, 223);   
}

main {
    display: flex;
    flex-direction: row;
}
.form-box {
    margin: 0 auto;
    height: 100vh;
    display: flex;
    align-items: center;
}

.add-form {
    display: flex;
    flex-direction: column ;
}
input {
    margin-bottom: 10px;
}
.alertMessage {
    position: relative;
    color: red;
    margin: 0px;
    font-size: smaller;
}

.alert {
    border: 1px solid red;
}